*{
    padding: 0;
    margin: 0;
}

body{
    background-image: url(../imge/imge/222.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}
 
/* start sighnup.html */
.input-icon {
    position: relative;
    margin-bottom: 20px;
}

.input-icon .icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(63, 63, 248);
    font-size: 18px;
}

input {
    padding-left: 45px; 
    height: 55px !important;
    border-radius: 8px !important;
    width: 90%;
    border:none;
}


.warning{
    background-color: #ff6e6e;
    color: #f6f8ff;
    text-align: center;
    border-radius: 8px ;
    margin-bottom: 15px;
    transition: all 1s linear;
    height: 40px;
    padding-top:15px;
    font-size: 20px;
}

.right-said{
    margin: auto;
    text-align: center;
    margin-top: 46px;
    margin-bottom: 46px;
    padding: 46px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f6f8ffad;
    width: 600px;
}
h2 ,p:nth-of-type(1){
    margin-bottom: 32px;
}
input[type="submit"] {
    display: block;
    text-align: center;
    margin-bottom: 32px;
    background-color:#439da5;
    color:white;
    width: 100%;
    font-size: 20px;
}
p:nth-of-type(1){
font-size: 18px;
}
h2{
    font-size: 32px;
}